.modal {
    position: relative; /* To position child elements absolutely */
    width: 100%;
    height: 70%;
    background-color: rgb(0, 201, 161);
    border-radius: 100px;
}

.modal-overlay {
    position: fixed; /* Make sure the modal takes the full screen */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute; /* Absolute positioning inside the .modal */
    top: 6%; /* Position close button closer to the top */
    right: 6%; /* Position close button closer to the right */
    cursor: pointer;
    width: 50px; /* Adjust this for the size you want */
    height: 50px; /* Adjust this for the size you want */
}

.close-btn img {
    width: 100%; /* Make sure the image fills the button's size */
    height: 100%; /* Make sure the image fills the button's size */
}

.user-section {
    display: flex;
    flex-direction: column; /* Vertical layout */
    align-items: center; /* Center items horizontally */
    justify-content: flex-start; /* Start from the top */
    position: absolute; /* Position it inside the modal */
    top: 30%; /* Adjust as needed */
    left: 15%; /* Adjust as needed */
}

.user-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px; /* Vertical space between the image and the name */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* makes the image cover the entire container */
}

.user-name {
    text-align: center;
    font-size: 2rem; /* adjust as necessary */
    margin-top: 20px;
}

.movie-slider-container {
    position: absolute; /* Absolute positioning inside the .modal */
    top: 15%;
    right: 5%;
}
