/* App.css */
#root {
    background: #ffe3e3;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    color: #111111;
}



