label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* More info button */
.movie-details-home button,
.login button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 29px;
  padding: 0 15px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 100px;
}

.overlay-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
  z-index: 2; /* Position the overlay between the background and the content */
}

.login-page {
  z-index: 2;
  width: 500px;
}

/* Home container */
.home-container-login {
  position: relative;
  display: flex;
  height: 800px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: none;
  z-index: 1;
}

.background-image-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; /* Position the background behind the content */
  filter: blur(5px); /* Apply the blur effect */
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-details-home button:hover,
.login button:hover {
  background-color: #f7fafa;
}

.movie-details-home button:focus,
.login button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}

.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  color: white;
  background-color: #2a2d32;
  border-radius: 4px;
  color: #000; /* Set text color to black */
  z-index: 8;
}

.login h3 {
  color: white;
}

.login label {
  color: white;
}

form button {
  background: #e3ffe3;
  border: 0;
  color: #111;
  padding: 10px;
  font-family: "Poppins", serif;
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid #e7195a;
}

/* Google Auth Styling */
.title {
  padding-bottom: 10px;
}

.googleAuthContainer {
  padding: 5px 5px 5px 5px;
}

.orContainer {
  text-align: center;
  color: #ffffff;
  padding: 20px 20px 20px 20px;
}
