label, input {
    display: block;
}

input {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    background: #E3FFE3;
    border: 0;
    color: #111;
    padding: 10px;
    font-family: "Poppins", serif;
    border-radius: 4px;
    cursor: pointer;
}

div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid #e7195a;
    color: #e7195a;
    border-radius: 4px;
    margin: 20px 0;
}

input.error {
    border: 1px solid #e7195a;
}

.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}