h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

p {
    margin: 10px 0 0;
    font-size: 16px;
    color: white;
    line-height: 1.5;
}

.home {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.carousel .control-dots {
    position: fixed;
}

.carousel.carousel-slider .control-arrow {
    position: fixed;
}

.movie-card {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.movie-image-home {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: -1;
}

.movie-details-home {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px !important;
    border-radius: 5px;
    max-width: 70%;
    position: relative;
    bottom: 40%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.movie-details-title {
    margin-bottom: 1.5rem;
}

.movie-details-description {
    margin-bottom: 1.5rem !important;
}

.movie-details-home button {
    background: #cfffcf;
    color: #111;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.movie-details-home button:hover {
    background-color: #bfffbf;
    transform: scale(1.05);
}
