/* Updated shared buttons, main shapes positions and styles css */
.share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: row; /* Change flex-direction to row for horizontal alignment */
    align-items: center; /* Center the icons vertically */
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 20px;
    right: 20px; /* Updated position to bottom right */
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Initially transparent */
    transition: visibility 0s, opacity 0.5s;
    transform: rotate(360deg); /* Rotate 90 degrees to the left */
    transform-origin: bottom right; /* Set the transform origin */
}

.share-btn-container a {
    margin: 12px 10px;
    transition: 500ms;
}

/* Add this class to control visibility transition */
.share-btn-container.visible {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: visibility 0.3s, opacity 0.3s, transform 0.3s;
}

/* Animated motions and colours css */
.share-btn-container a i {
    font-size: 22px;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: #1877f2;
}

.share-btn-container .fa-twitter {
    color: #1da1f2;
}

.share-btn-container .fa-pinterest {
    color: #e60023;
}

.share-btn-container .fa-reddit {
    color: #5f99cf;
}

.share-btn-container .fa-whatsapp {
    color: #25d366;
}

/* Media Queries */

@media (max-width: 550px) {
    .content {
        padding: 8px 32px;
    }

    .share-btn-container {
        transform: unset;
        top: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        padding: 16px 0;
        justify-content: center;
    }

    .share-btn-container a {
        margin: 0 32px;
    }
}

