.movie-list {
  width: 60%;
  height: 100%;
  margin: 80px auto auto;
  z-index: 3;
  overflow-y: scroll;

  /* Hide the scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.page {
}

.overlay-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0; /* Lower z-index to place the overlay beneath the content */
}

/* Home container */
.home-container-search {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: none;
  z-index: 1;
}

.background-image-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(5px); /* Apply the blur effect */
  background-size: cover;
  background-repeat: no-repeat;
}
