.movie-list {
    width: 60%;
    height: 100%;
    margin: 80px auto auto;
    z-index: 3;
    overflow-y: scroll;

    /* Hide the scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */

}

.page{
    
}

.overlay-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0; /* Lower z-index to place the overlay beneath the content */
}


/* Home container */
.home-container-search {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: none;
    z-index: 1;
}

.background-image-search {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px); /* Apply the blur effect */
    background-size: cover;
    background-repeat: no-repeat;
}

.tabs {
    margin:auto;
}

/* Featured heading */
.featured-heading {
    position: absolute;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: white;
    z-index: 3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.friends-card {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 150px auto;
    text-align: center;
    overflow-wrap: initial;
    z-index: 1;
    width: 50%;
    padding: 4vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.friends-card-content {
    margin: 5px auto;
    width: 100%;
    height: 800px;
    text-align: center;
    overflow-wrap: initial;
    z-index: 1; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tab-section {
    width: 100%;
    margin: 0 auto;
}

.content-section {
    scroll-behavior: smooth;
    padding: 0 0 20px 0;
    margin: 0 0 0 0;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
}

.search-divider {
   
}

hr.solid {
    border-top: 4px solid greenyellow;
    width: 100%;
    margin: 0;
  }

.full-width {
    width: 515px;
}