body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh;
    z-index: 3;
    opacity: 90%;
    background-color: #1a1a1a;
}

/* Home container */
.home-container-details {
    position: relative;
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: none;
}

.background-image-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Position the background behind the content */
    filter: blur(5px); /* Apply the blur effect */
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-details-container-details {
    display: flex;
    height: auto;
    overflow: hidden;
    margin: 2vh;
    color: #fff; /* Set the text color to white */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.movie-name {
    font-size: 5vh;
}

.movie-image-details {
    flex: 1;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-image-details img {
    width: 40vh;
    height: auto;
    object-fit: cover;
}

.movie-details-details {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.rating-and-fav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.rating-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0.6; /* Take up the full available space */
}

.details-fav-btn {
    margin-left: 0; /* Add some spacing between the rating and the button */
}
